# don't upload the Hooty (from The Owl House) easter egg audio
# I don't want to get a DMCA on my Git{Hub|Lab} account, but it's a line clipped from
# this video: https://youtu.be/2o695sEsplE
sounds/hooty.*

# to prevent me from committing pcaps that I was using for debugging
*.pcap

# to avoid uploading the massive csv file of call logs
# since I deleted it anyway, it didn't matter, but I'd rather be safe than sorry
*.csv
